* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contact-info-card {
    transition: transform 0.3s;
}

    .contact-info-card:hover {
        transform: translateY(-5px);
    }

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}


.map-container {
    overflow: hidden;
    border-radius: 8px;
}

button.btn-send {
    color: #F6F4F0;
    background-color: #5F6759;

}