* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F6F4F0 !important;
    color: #3E433B !important;
}


/* Apply Jacques-François font to all headers (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: "Jacques Francois", serif !important;
}

/* Apply Abel font to all paragraph text */
p {
    font-family: 'Abel', sans-serif;
}
***************/
/**********************Map**************************/
.map {
    padding-left: 160px;
    padding-bottom: 10px;
    width: 1300px;
    /* width:1165px;
    height:250px; */
}




.mediaicons {
    font-size: 35px;
}

iframe {
    width: 100%;
    height: 220px;
}





/***********************Form************************/
.section3formNews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    padding-top: 4rem;
}


.formdiv {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 15rem;
    row-gap: 10px;
    height: auto;
}

.formflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

    .formflex input {
        padding-left: 10px;
        height: 2.75rem;
        border: 2px solid #D9E0D7;
        border-radius: 25px;
        background-color: #D9E0D7;
    }

.contactInput {
    width: 21rem;
}

textarea {
    padding-top: 2px;
    padding-left: 10px;
    width: 43rem;
    height: 8rem;
    border: 2px solid #D9E0D7;
    border-radius: 25px;
    background-color: #D9E0D7;
}

.btn {
    /* color: white; */
    border: 2px solid #D9E0D7;
    border-radius: 25px;
    height: 2.75rem;
    width: 43rem;
    background-color: #D9E0D7;
    background: linear-gradient(to right, #5F6759, #D9E0D7);
    /* transition: all 0.4s ease-in-out; */
}

.newsLetterHead {
    text-align: center;
}

.newsLetter {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #D9E0D7;
    width: 20em;
    height: auto;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 35%);
    background-image: url();
    border-radius: 10px;
    transition: width 2s, height 1s;
}



.inputNewsletter {
    width: 15rem;
    height: 2.25rem;
    border-radius: 25px;
    ;
    background-color: #B7BEB5;
    border: 2px solid #B7BEB5;
    padding-left: 2px;
}

#btnNews {
    /* padding-bottom: 5px; */
    border-width: 2px;
    border-style: solid;
    /* background-color: #5F6759; */
    background: linear-gradient(to right, #5F6759, #D9E0D7);
}
/***********fixed Data CArds*********/
.fixeddata {
    padding-top: 8rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
}

.dataflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.datainfixed {
    padding-top: 25px;
    text-align: center;
    background-color: #D9E0D7;
    width: 20em;
    height: 10em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 35%);
    border-radius: 10px;
    transition: width 2s, height 1s;
}



/***********************************************************************************************************************/

.section-services {
    font-family: "Poppins", sans-serif;
    /* background-color: #e6edf7; */
    color: #202020;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 150px;
    width: 88%;
}

    .section-services .header-section {
        margin-bottom: 34px;
    }

        .section-services .header-section .title {
            position: relative;
            padding-bottom: 14px;
            margin-bottom: 25px;
            font-weight: 700;
            font-size: 32px;
        }

            .section-services .header-section .title:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 3px;
                background-color: #5F6759;
                border-radius: 3px;
            }

            .section-services .header-section .title:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(30px);
                width: 10px;
                height: 3px;
                background-color: #504f93;
                border-radius: 3px;
            }

        .section-services .header-section .description {
            font-size: 14px;
            color: #282828;
        }

    .section-services .single-service {
        position: relative;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 30px;
        overflow: hidden;
    }

        .section-services .single-service .content {
            position: relative;
            z-index: 20;
        }

        .section-services .single-service .circle-before {
            position: absolute;
            top: 0;
            right: 0px;
            transform: translate(40%, -40%);
            width: 150px;
            height: 150px;
            background-color: #5F6759;
            border: 6px solid #504f93;
            border-radius: 50%;
            opacity: 0.5;
            z-index: 10;
            transition: all .6s;
        }

        .section-services .single-service:hover .circle-before {
            width: 100%;
            height: 100%;
            transform: none;
            border: 0;
            border-radius: 0;
            opacity: 1;
        }

        .section-services .single-service .icon {
            display: inline-block;
            margin-bottom: 26px;
            width: 70px;
            height: 70px;
            background-color: #5F6759;
            border-radius: 5px;
            line-height: 70px;
            text-align: center;
            color: #fff;
            font-size: 30px;
            transition: all .3s;
        }

        .section-services .single-service:hover .icon {
            background-color: #fff;
            color: #5F6759;
        }

        .section-services .single-service .title {
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 23px;
            transition: color .3s;
        }

        .section-services .single-service:hover .title {
            color: #fff;
        }

        .section-services .single-service .description {
            margin-bottom: 20px;
            font-size: 14px;
            transition: color .3s;
        }

        .section-services .single-service:hover .description {
            /* color: #fff; */
            color: #F6F4F0;
        }

        .section-services .single-service a {
            position: relative;
            font-size: 18px;
            color: #202020;
            text-decoration: none;
            font-weight: 500;
            transition: color .3s;
        }

        .section-services .single-service:hover a {
            color: #fff;
            color: #F6F4F0;
        }

        .section-services .single-service a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #5F6759;
            transition: background-color .3s;
        }

        .section-services .single-service:hover a:after {
            background-color: #fff;
        }




.mediaicons {
    font-size: 35px;
}
.hero {
    /* background: #f9f9f9; */
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
}
