* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.product-image {
    max-height: 400px;
    object-fit: contain;
}

.rating i {
    color: #ffc107;
}

.badge-custom {
    font-size: 0.8rem;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

    .thumbnail:hover, .thumbnail.active {
        border-color: #0d6efd;
    }

button.btn.btn-primary {
    /*    background: #5F6759;
    color: #F6F4F0;
    border:none*/

    color: #F6F4F0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-top: 20px;
    background-color: #5F6759;
    transition: all 0.6s ease-in-out;
    text-align:center;
}

    button.btn.btn-primary i {
        color: #F6F4F0;
    }
    button.btn-outline-primary {
        text-align: center;
        color: #5F6759;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        border: solid 1px #5F6759;
        margin-top: 20px;
        transition: all 0.6s ease-in-out;
    }