
/*body, html {
    height: 100%;
    margin: 0;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}*/

a.btn-primary {
    border: none;
    color: #F6F4F0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    background-color: #5F6759;
    transition: all 0.6s ease-in-out;
}