@model Masterpiece.Models.ContactU

@{
    ViewData["Title"] = "feedback";
}

<h1>feedback</h1>

<h4>ContactU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* <form asp-action="feedback"> *@
        @*     <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        @*     <div class="form-group"> *@
        @*         @* <label asp-for="UserId" class="control-label"></label> *@ 
        @*         <input hidden asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"/> *@
        @*         <input hidden asp-for="UserId" class="form-control" asp-items="ViewBag.time" /> *@
        @*         <input hidden asp-for="UserId" class="form-control" value="pending" /> *@
        @*         @* <input asp-for="UserId" class="form-control" /> *@ 
        @*     </div> *@
        @*     <div class="form-group"> *@
        @*         <label asp-for="Subject" class="control-label"></label> *@
        @*         <input asp-for="Subject" class="form-control" /> *@
        @*         <span asp-validation-for="Subject" class="text-danger"></span> *@
        @*     </div> *@
        @*     <div class="form-group"> *@
        @*         <label asp-for="Message" class="control-label"></label> *@
        @*         <input asp-for="Message" class="form-control" /> *@
        @*         <span asp-validation-for="Message" class="text-danger"></span> *@
        @*     </div> *@
        @*     <div class="form-group">  *@
        @*     @*     <label asp-for="Status" class="control-label"></label> *@ 
        @*     @*     <input asp-for="Status" class="form-control" /> *@ 
        @*     @*     <span asp-validation-for="Status" class="text-danger"></span>
        @*     @* </div> *@ 
        @*     <div class="form-group"> *@
        @*         <input type="submit" value="Create" class="btn btn-primary" /> *@
        @*     </div> *@
        @* </form> *@ 
        <form asp-action="feedback" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

