@{
    ViewData["Title"] = "Home Page";
}


<section class="homeSlider">
	<!-- Image Slider -->
	<div class="split-slideshow">
		<div class="slideshow">
			<div class="slider">
				<div class="item">
					<img src="@Url.Content("~/img/pexels-photo-7383510.webp")" />
					<a class="slider-button" asp-controller="services" asp-action="getAllProducts" style="text-decoration:none;">Shop Now</a>
					@* <a href="/HTML/products.html"><button class="slider-button">Shop Now</button></a> *@
				</div>
				<div class="item">
					@* <img src="/img/IMG_8978-1140x760.jpg" /> *@
					<img src="@Url.Content("~/img/IMG_8978-1140x760.jpg")" />

					<a class="slider-button" asp-action="getAllProducts">Shop Now</a>
				</div>
				<div class="item">
					@* <img src="/img/port-1-img-02.jpg" /> *@
					<img src="@Url.Content("~/img/port-1-img-02.jpg")" />
					<a class="slider-button" asp-action="getAllProducts">Shop Now</a>
				</div>
				<div class="item">
					<img src="/img/port-1-img-04.jpg" />
					<a class="slider-button" asp-controller="services" asp-action="getAllProducts">Shop Now</a>
				</div>
			</div>
		</div>
		<div class="slideshow-text">
			<div class="item">Embroderiy</div>
			<div class="item">Crochet</div>
			<div class="item">Candles</div>
			<div class="item">Candles</div>
		</div>
	</div>
</section>


<section class="toAddMargin">
	<section class="offers">

		<div class="container mt-5">
			<div class="row">
				<!-- Vertical Image -->
				<div class="col-md-6">
					<div class="image-container animate-left" style="height: 505px;">
						<img src="/img/candlehome1.jpg" alt="Vertical Image">
						<div class="image-header">Up to 50% off</div>
					</div>
				</div>
				<!-- Horizontal Images -->
				<div class="col-md-6 d-flex flex-column justify-content-between">
					<div class="image-container animate-right mb-3" style="height: 245px;">
						<img src="/img/pexels-olga-volkovitskaia-131638009-28428737.jpg" alt="Horizontal Image 1">
						<div class="image-header">Our new Collection</div>
					</div>
					<div class="image-container animate-up" style="height: 245px;">
						<img src="/img/high-angle-lit-candles-with-string-pine-cones_23-2148720016.jpg" alt="Horizontal Image 2">
						<div class="image-header">Buy 2 get 1 free</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="Best">
		<div class="container mt-5">
			<h2 class="text-center mb-4">New Items</h2>
			<div id="bestSellersCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/candle117.jpg" alt="Product 1" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">Aromatherapy Candles</h5>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<p><strong>29.99 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>

							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/reyzen.jpg" alt="Product 2" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">Personalized Resin Bookmark</h5>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<p><strong>9.50 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>

							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/crochet25.jpg" alt="Product 3" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">Crochet Basket Base </h5>

									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>
									<p><strong>19.99 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>

					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/candle11.jpg" alt="Product 4" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">Flower Scented Container Candle</h5>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<p><strong>10.99 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>

							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/candlehome9.jpg" alt="Product 5" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">Scented Candle In Transparent Cup</h5>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
									<p><strong>5.99 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>

							<div class="col-md-4">
								<div class="product-card">
									<img src="/img/clk.jpg" alt="Product 6" class="product-image" style="object-fit: cover;">
									<h5 style="padding-top: 15px;">embroidered wall Clock!</h5>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>
									<p><strong>9.99 JD</strong></p>
									<a href="/HTML/checkout.html" class="btn-custom">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#bestSellersCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#bestSellersCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon"></span>
				</button>
			</div>
		</div>
		<br>
	</section>


	<!-- Bootstrap 5 Carousel -->
	<div id="testimonialCarousel" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
		<div class="carousel-inner">
			<br />
			<div class="row mb-5">
				<div class="col-md-8 col-lg-6 text-center mx-auto">
					<h2 class="fw-bold">What Our Clients Say</h2>
					<p class="lead text-muted">Don't just take our word for it - hear from some of our amazing customers.</p>
				</div>
			</div>
			<div class="carousel-item active">
				<img class="rounded-circle shadow mb-4"
					 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="Maria Kate"
					 style="width: 150px;" />
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h5 class="mb-3">Maria Kate</h5>
						<p>Photographer</p>
						<p class="text-muted">
							<i class="fas fa-quote-left pe-2"></i>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
							nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
							fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
							doloremque.
						</p>
					</div>
				</div>
				<ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="far fa-star fa-sm"></i></li>
				</ul>
			</div>
			<div class="carousel-item">
				<img class="rounded-circle shadow mb-4"
					 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="John Doe"
					 style="width: 150px;" />
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h5 class="mb-3">John Doe</h5>
						<p>Web Developer</p>
						<p class="text-muted">
							<i class="fas fa-quote-left pe-2"></i>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
							nesciunt sint eligendi reprehenderit reiciendis.
						</p>
					</div>
				</div>
				<ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="far fa-star fa-sm"></i></li>
				</ul>
			</div>
			<div class="carousel-item">
				<img class="rounded-circle shadow mb-4"
					 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="Anna Deynah" style="width: 150px;" />
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h5 class="mb-3">Anna Deynah</h5>
						<p>UX Designer</p>
						<p class="text-muted">
							<i class="fas fa-quote-left pe-2"></i>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
							nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
							fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
							doloremque.
						</p>
					</div>
				</div>
				<ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="fas fa-star fa-sm"></i></li>
					<li><i class="far fa-star fa-sm"></i></li>
				</ul>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- Bootstrap 5 Carousel -->


</section>


@section Scripts {
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/slick-carousel/slick/slick.min.js"></script>
	<script src="~/js/your-slider-script.js"></script>
}
