
@{
    ViewData["Title"] = "Index";
}



<section class="toAddmargin">

    <section>
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row img-twice position-relative h-100">
                            <div class="col-6">
                                <img class="img-fluid rounded" src="/img/pexels-photo-5806970.webp" alt="">
                            </div>
                            <div class="col-6 align-self-end">
                                <img class="img-fluid rounded" src="/img/candlehome1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="h-100">
                            <h2 class="display-6 mb-4">We Make Every Item From The Core Of Our Hearts</h2>
                            <p>
                                At [], we believe that every handmade creation tells a unique story. Whether you're
                                looking for a personalized gift, a custom home décor piece, or something truly one-of-a-kind, our talented
                                artisans are here to bring your ideas to life. From the moment you submit your request to the final
                                handcrafted masterpiece, we ensure quality, creativity, and care in every detail.
                            </p>
                            <div class="row g-2 mb-4">
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Quality Products
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Custom Products
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Online Order
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Home Delivery
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="countersection">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-3">
                    <div class="counter-box colored">
                        <i class="fa fa-thumbs-up"></i>
                        <span class="counter">+500</span>
                        <p>Happy Customers</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-users"></i>
                        <span class="counter">+875</span>
                        <p>Registered Members</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="counter">289</span>
                        <p>Available Products</p>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-tree"></i>
                        <span class="counter">1563</span>
                        <p>Saved Trees</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>


    <section class="galleryimg">
        <!-- Gallery -->
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/img/embroGallery.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Boat on Calm Water" />

                <img src="/img/crochet25.jpg"
                     class="img-fluid shadow-1-strong rounded mb-4"
                     alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/img/pexels-photo-5709936.jpeg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Mountains in the Clouds" />

                <img src="/img/try3.png"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/img/crochet5.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Waves at Sea" />

                <img src="/img/embrod12.png"
                     class="img-fluid shadow-1-strong rounded mb-4"
                     alt="Yosemite National Park" />
            </div>
        </div>
        <!-- Gallery -->
    </section>




</section>


@* @section style { *@
@*     <link rel="stylesheet" href="~/css/about.css" /> *@
@* } *@

@* @section Scripts { *@
@*     <script src="~/js/about.js"></script> *@
@* } *@

