
@{
    ViewData["Title"] = "Index";
}

<!-- Hero Section -->
<div class="hero">
    <h1>Contact Us</h1>
    <p>Have a questions, feedback or need support?  We’re here to help! Feel free to contact us using the form below or via the provided details.</p>
</div>


<div class="section3formNews">
    <div>
        <form class="formdiv">
            <div class="formflex">
                <input type="text" class="contactInput" placeholder="Full Name">
                <input type="text" class="contactInput" placeholder="Phone">
            </div>

            <div class="formflex">
                <input type="email" class="contactInput" placeholder="Email">
                <input type="text" class="contactInput" placeholder="Subject">
            </div>

            <textarea placeholder="Write your message"></textarea>
            <input type="submit" value="send" class="btn">
        </form>
    </div>

    <div class="newsLetter">
        <div class="newsLetterHead">
            <h3>Our Newsletter</h3>
            <p>Stay updated with the latest news and<br> exclusive offers. Subscribe now to never<br> miss a thing!</p>
        </div>
        <form>
            <input type="email" class="inputNewsletter" placeholder="Email" class="emailNews"><br><br>
            <input type="submit" value="send" id="btnNews" class="inputNewsletter">
        </form>
    </div>
</div>


<section class="section-services">
    <div class="container">
        <div class="row">
            <!-- Single Service -->
            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="content">
                        <i class="fa fa-phone-square" aria-hidden="true" class="icon" style=" font-size: 50px; color: #3E4235;"></i>
                        <h3 class="title">+962 7000000000</h3>
                        <p class="description">Reach us directly for immediate assistance. We’re available during business hours.</p>
                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <!-- / End Single Service -->
            <!-- Single Service -->
            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="content">
                        <i class="fa fa-envelope" aria-hidden="true" class="icon" style=" font-size: 50px; color: #3E4235;"></i>

                        <h3 class="title">company@company.com</h3>
                        <p class="description">Drop us a line, and we’ll respons within 24 hours. For inquiries, support of feedback.</p>
                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <!-- / End Single Service -->
            <!-- Single Service -->
            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="content">

                        <i class="fa fa-map-marker" aria-hidden="true" class="icon" style=" font-size: 45px; color: #3E4235;"></i>
                        <i class="fab fa-artstation"></i>
                        </span>
                        <h3 class="title">Irbid, Jordan</h3>
                        <p class="description">Visit us at our location for in-person support. Open weekdays form 9 AM to 9 PM.</p>
                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <!-- / End Single Service -->

        </div>
    </div>
</section>




<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.0095603888158!2d35.847093875112236!3d32.55259009542249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c7715f2c2e7ab%3A0x51755840c8ddbefd!2sOrange%20Digital%20Village%20Irbid!5e0!3m2!1sen!2sjo!4v1737316007263!5m2!1sen!2sjo" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
